*.log
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
frontend/.bundle
frontend/log/*.log
frontend/pkg/
core/.bundle
core/log/*.log
core/pkg/
api/.bundle
api/log/*.log
api/pkg/
demo/.bundle
demo/db/*.sqlite3
demo/db/*.sqlite3-journal
demo/log/*.log
demo/tmp
demo/db/migrate/*.rb
/demo/app/models/user.rb
