<!DOCTYPE html>
<html>
<head>
  <title>SensitUnitConversion</title>
  <%= stylesheet_link_tag    "sensit_unit_conversion/application", media: "all" %>
  <%= javascript_include_tag "sensit_unit_conversion/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
