<!DOCTYPE html>
<html>
<head>
  <title>Retention</title>
  <%= stylesheet_link_tag    "retention/application", media: "all" %>
  <%= javascript_include_tag "retention/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
